
<div class="main">
<!-- title -->
<div class="title"><h1>PairBnb</h1>
<p>Book unique homes and experience a city like a local.</p>
</div>

<!-- seach form-->
<div class="sub">where will you go?</div>


<!-- image listing -->
<div class="main_listing_1">
    <div class="row">
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <a href="#">
	      	<%= image_tag 'tokyo.jpg', alt:'Lights', :width => '138', :height => '37' %>
	        <div class="caption">         
	        </div>
	      </a>
	    </div>
	  </div>
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <a href="#">
	        <%= image_tag 'shutterstock.jpg', alt:'Lights', width: 100, height:'100px' %>
	        <div class="caption">
	         
	        </div>
	      </a>
	    </div>
	  </div>
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <a href="#">
	        <%= image_tag 'is.jpg', alt:'Lights', width: 100, height:'100px' %>
	        <div class="caption">
	          
	        </div>
	      </a>
	    </div>
      </div>
    </div>
</div>


	
</div>


